body {
    font-family: cursive, Verdana , Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg.png');
    background-size: cover;
}

header {
    max-width: 100%;
    background-color: #CEE6F2;
    color: #2a377a;
    text-align: center;
    padding:20px 0;
    border:1px solid #2a377a;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    margin: 20px;   
}

nav h1 {
    margin: 0;
    font-size: 35px;
}
nav h2 {
    margin: 15px;
    font-size: 25px;
}

.container {
    position: relative;
    top:100px;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 17px;
    display :grid;
    grid-template-columns: 100%;
    grid-template-rows: 25%,25%,25%,25%;
    gap: 5px;
    border:2px solid #2a377a;
}
button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4063c1;
    color: #fff;
    border: none;
    border-radius: 7px;
}

button:hover {
    background-color: #001d4a;
}

.mt-5{
    margin-top: 5rem;
}